section.ui.cards {
  margin-top: 15px;
  margin-left: 1%;
  margin-right: 1%;

  .centered.card {
    .content:hover {
      cursor: pointer;

      .header {
        color: #1e70bf;
      }

      .description {
        color: #1e70bf;
      }
    }
  }
}
