<nav class="ui secondary vertical pointing menu">
  <a class="item" [routerLink]="homeRoute.path">
    <h4 class="ui header">
      <i [ngClass]="homeRoute.icon"></i>
      {{ homeRoute.label }}
    </h4>
  </a>
  
  <section class="item" *ngFor="let route of routes">
    <section
      class="header"
      [routerLink]="route.path"
      [routerLinkActive]="['active']"
    >
      {{ route.label }}
    </section>

    <section class="menu" *ngIf="route.sections">
      <nav-link *ngFor="let section of route.sections" [section]="section"></nav-link>
    </section>
  </section>
</nav>